<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style type="text/css">
			.current{background:#d2dfdf;}
			.node-menuT {
				background-color: #3a3f51;
				border: 0 none;
			}
		</style>
		<link rel="stylesheet" href="/lib/bootstrap/css/metismenu.min.css">
		<link rel="stylesheet" href="/lib/bootstrap/css/prism.min.css">
		<script src="/lib/bootstrap/js/bootstrap-treeview.js"></script>
		<script src="/js/operateCookie.js"></script>
	</head>
	<body th:fragment="body">
		<div class="sidebar-nav" style="z-index: 100;">
			<label for="menuT" style="display: none;"></label>
			<div class="sidebar-nav-top">
				<a style="display: block; color: #fff;" href="../admin/success.html">嗨够后台管理系统</a>
			</div>
			<div id="menuT" >
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
				var sNavHeight = $(document).height();
				$(".sidebar-nav").css("height",sNavHeight+"px");
				function domTree(menu) {
					var activeMenuId = 0;
					// 树状菜单插件所需json数据
					var datas = [];
					var index = 0;
					var i = 0;
					// 对后台返回参数做转换
					function walk(nodes, datas) {
						if (!nodes) {
							return;
						}
						$.each(nodes, function (id, node) {
							if (activeMenuId == 0 ) {
								if (node.id == menu) {
									activeMenuId = node.id;
									activeMenu = node;
								} else {
									activeMenuId = 0;
								}
							}
							var obj = {
								id: node.id,
								parentid: node.parentid,
								href:node.url + "?" + node.menuSet.length,
								text: node.name,
								tags:[],
							};
							if (node.menuSet.length > 0) {
								obj.nodes = [];
								index = ++index;
								walk(node.menuSet, obj.nodes);
						   }
						   datas.push(obj);
						 });
						index = 1;
					}
					var obj = decodeURIComponent([[${menulist}]]);
					console.log(obj)
					var data = $.parseJSON(obj);
                    $.each(data, function (id, node) {
                        walk(node.menuSet, datas);
                    });

					//在设置菜单栏打开时先判断是否是一个账号，不是则按初始化的显示
					var adminID = getCookie("adminID");
					if (adminID != null && adminID == $("#headerAdmin").val()) {
						datas = expandedMenu(datas);
					} else {
						setCookie("adminID", $("#headerAdmin").val());
					}

					if (activeMenuId != 0) {
						//加上选中的状态
						$.each(datas, function(i, d) {
							check(d.nodes, activeMenuId);
						});

					}
					return datas;
				}
				var ids = [];
				var activeMenu;
				function check(menus, id) {
					$.each(menus, function(i, d) {
						if (d.nodes != undefined) {
							check(d.nodes, id);
						}
						if (d.id == id) {
							d.state = {selected: true};
						}
					});
				}

				//还原cookie中记录的状态
				function expandedMenu(datas) {
					var menuIds = getCookie("menuIds");
					if (menuIds != null && menuIds != "") {
						menuIds = menuIds.split(",");
						$.each(datas, function(i, node) {
							$.each(menuIds, function(i, d) {
								checkCookie(node.nodes, parseInt(d));
							});
							if(ids.length > 0 || menuIds.indexOf(node.id+"")!= -1) {
								node.state = {expanded: true};
							} else {
								node.state = {expanded: false};
							}
						});
					}
					return datas;
				}

				function checkCookie(menus, id) {
					$.each(menus, function(i, d) {
						if (d.nodes != undefined) {
							checkCookie(d.nodes, id);
						}
						if (d.id == id) {
							d.state = {expanded: true};
							ids.push(d.parentid);
						}
					});
				}
				$(function() {
					var menu = GetQueryString().menuId;
					var options = {
						bootstrap2 : false,
						showTags : false,
						nodeIcon : '',
						data : domTree(menu),
						showBorder : false,
						level: 3,
						//backColor : "#3a3f51",
						color : "#b4b6bd",
						onhoverColor : "#2e3344",
						selectedBackColor : "#428bca",
						selectedColor : "#fff",
						expandIcon: "glyphicon glyphicon-plus-sign",
						collapseIcon: "glyphicon glyphicon-minus-sign"
					};
					$('#menuT').treeview(options);
					$('#menuT').on('nodeSelected', function(event, data) {
						var href = data.href;
						var index  =href.indexOf("?");
						if (index > 0) {
							var url = href.substring(0, index)+"?menuId="+data.id+"&name="+data.text;
							location.href = ".." + url;
						}
					});
					//点击展开的菜单
					$('#menuT').on('nodeExpanded', function(event, data) {
						var menuIds = getCookie("menuIds");
						if (menuIds != null) {
							menuIds = menuIds.split(",");
							if (menuIds.indexOf(data.id + "") == -1) {
								menuIds.push(data.id);
							}
							delCookie("menuIds");
						} else {
							menuIds = [data.id];
						}
						setCookie("menuIds", menuIds.join(","));
					});
					//点击折叠的菜单
					$('#menuT').on('nodeCollapsed', function(event, data) {
						var oldMenuIds = getCookie("menuIds");
						var menuIds = [];
						if (oldMenuIds != null) {
							oldMenuIds = oldMenuIds.split(",");
							$.each(oldMenuIds, function(i, d) {
								if (d != (data.id+"")){
									menuIds.push(d);
								}
							});
							delCookie("menuIds");
							setCookie("menuIds", menuIds.join(","));
						}
					});
				    document.onreadystatechange = subSomething;//当页面加载状态改变的时候执行这个方法.
				});
				function subSomething(){
					if(document.readyState == "complete"){ //当页面加载状态为完全结束时进入
						setTimeout(activeFlag, 1000);
					}
				}
			</script>
	</body>
</html>