body{
	
	background: #FFFFFF;
	color: 0.23rem;
}
.content{
	text-align: center;
	margin: 0 auto;
	padding: 0.8rem 0.4rem;
}
.content h3{
	font-size: 0.52rem;
	text-align: left;
	font-family: "黑体";
	color: #181818;
	font-weight: 550;
}
.content .adminname{
	text-align: left;
	
}

.content .adminname span:first-child{
	font-family: "黑体";
	font-size: 0.38rem;
	color: #546B8D;
	margin-right: 0.3rem
}
.content .adminname span:last-child{
	font-family: "黑体";
	font-size: 0.34rem;
	color: #9A9A9A;
}
.content .text{
	text-align: center;
	margin: 0 auto;
	font-weight: 550;
	font-family: "黑体";
	font-size: 0.28rem;
}
.text img{
	    width: 100%!important;
	    max-width: 6.2rem!important;
}

.text section{
	    width: 100%!important;
	padding: 0!important;
}
.text p{
	width: 100%!important;
	overflow: hidden;
	text-indent: 0!important;
	margin-left: 0!important;
	line-height: 0.2rem!important;
}
/*p{*/
	/*width: 100%!important;*/
	/*overflow: hidden;*/
	/*text-indent: 0!important;*/
	/*margin: 60em  0;*/
	/*margin-left: 0!important;*/

/*}*/
/*span{*/
	/*display: inline-block;*/
	/*height:60em ;*/
/*}*/
#article_show_text>p,
#article_show_text>div{
	width: 100% !important;
	overflow: hidden;
	text-indent: 0 !important;
	margin: 0.4rem 0!important;
	margin-left: 0 !important;

}

.click{
	    background: #0575CB;
    width: 30%;
    padding: 0.08rem;
    color: white;
    position: fixed;
    top: 0.5rem;
    right: 0.2rem;
    text-align: center;
}
.click a{
	color: white;
}
