* {
	padding: 0;
	margin: 0;
}

body {
	background: #ffffff;
	font-size: 0.23rem;
}

ul li {
	list-style: none;
}

.hotdoor{
	
	margin: 0.4rem 0;
}
.hot{
	margin-top: 0.7rem;
}
.hot .txt1 ul:after {
	content: "";
	clear: both;
	display: block;
}

.hot .txt1 {
	padding: 0.2rem 0;
}

.hot .txt1 ul li {
	float: left;
}

.hot .txt1 .nove {
	width: 1.1rem;
	height: 1.1rem;
	text-align: center;
	line-height: 1.1rem;
	border-radius: 50%;
	background: #ff8510;
	position: relative;
	margin: 0 0.3rem;
}

.shbo {
	position: absolute;
	top: 0.025rem;
	left: 0.025rem;
	width: 1.05rem;
	height: 1.05rem;
	border-radius: 50%;
	background: #FFFFFF;
	text-align: center;
	line-height: 1.05rem;
}

.hot .txt1 .nove img {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	z-index: 100;
}
.hot .txt1 ul li p{
	margin-bottom: 0.05rem!important;
}
.hot .txt1 ul li:nth-child(2) {
	width: 40%;
	   
	    height: 1.1rem;
	    line-height: 1.1rem;
}

.hot .txt1 ul li .name {
	font-family: "黑体";
	font-weight: 550;
}

.hot .txt1 ul li .position {
	width: 0.3rem;
}

.hot .txt1 ul li:nth-child(3) {
	width: 20%;
	  
	height: 1.1rem;
	    line-height: 1.1rem;
	padding: 0.05rem;
	
}
.hot .txt1 ul li .follow{
	width: 80%;
}
.hot .txt1 ul li:last-child{
	width: 10%;
	float: right;
}
.hot .txt1 ul li .more {
	width: 0.3rem;
	
}
.swiper-container img{
	width: 100%;
}
.hot .txt2{
	padding: 0.2rem 0.3rem;
}
.hot .txt2 img{
	width: 0.45rem;
}
.hot .txt2 img:first-child{
	margin-right: 0.4rem;
}
.hot .txt2 img:last-child{
	float: right;
}
.hot .txt3{
	      font-size: 0.35rem;
    font-family: "黑体";
    font-weight: 550;
    
}
.hot .txt3,
.hot .txt4,
.hot .txt5,
.hot .txt6{
	padding: 0 0.3rem;
	
}
.hot .txt4{
	font-size: 0.29rem;
}
.hot .txt4 span:first-child{
	font-family: "黑体";
	font-weight: 550;
	
}
.hot .txt5{
	font-family: "黑体";
	color: #7f7f7f;
	font-size: 0.28rem;
}
.hot .txt6{
	font-size: 0.25rem;
		color: #7f7f7f;
}
.click{
	    background: #0575CB;
    width: 30%;
    padding: 0.08rem;
    color: white;
    position: fixed;
    top: 0.5rem;
    right: 0.2rem;
    text-align: center;
}
.click a{
	color: white;
}
/*视频样式*/
.centerInfo {
    position: absolute;
  
    left: 50%;
    transform: translate(-50%,-10%);
    }
    
    #testVideo,#testVideos{
			width: 7.5rem!important;
			height: 5rem!important;
			
			margin: 0 auto;
			outline:2px solid #ccc;
		
}
.shipin{margin-bottom: 0.1rem;
	position: relative;
    height: 5rem;
	background: #FFFFFF;
	font-size: 0.26rem;
	padding: 0.2rem;
}
.shipin .hang5 img{
	width: 0.82rem;
}
.shipin .hang7{
	position: relative;
	bottom: -5rem;
}
.shipin .hang7 h4{
	font-size: 0.27rem;
	font-weight: 600;
}
.shipin .hang7 span{
	float: left;
	color: #999999;
}
.shipin .hang7 .fien{
	float: right;
}
.Dvideo-content .Dvideo-ctrl .Dvideo-detail .Dvideo-menu-right-content .Dvideo-volume,
.Dvideo-menu-right-content .Dvideo-playbackRate,
.Dvideo-menu-right-content .Dvideo-definition,
{
	display: none!important;
}
